<div class="container col-sm-4">{{#link-to 'story' story.id}}
  <img class="story-image" src={{story.image}} />
  <h4>{{story.description}}</h4>
  <hr>
  <p>
    {{story.writer}}
  </p>
  {{/link-to}}
</div>
